@charset "utf-8";
// top page
#page--top {
  main {
    .full-bg {
      position: fixed;
      min-height: 100%;
      min-width: 100%;
      background-image: url(./images/background.jpg);
      background-repeat: no-repeat;
    }
  }
}