@charset "utf-8";

#page--two{
  min-width: 700px;
  background-color: #000;
  overflow-x: scroll;
}

#container {
  display:flex;
  color:#000;
  padding:1%;
  margin:0 auto;
  .text1 {
    margin-bottom:20px;
    height:600px;
  }
  .text2 {
    height:600px;
  }
  .color {
    color:#99020a;
  }
  @include mediaquery_w($bp_10 + px) {
    display:flex;
    .text2{
      margin-top:5px;
    }
  }

}
