@charset "utf-8";
// two-column page

// variables
$left-column-rate: 50%;
$right-column-rate: 50%;
$two-column-height: 500pt;

#page--top {
  main {
    section.two-column {
      height: $two-column-height;
      width: 100%; 
        
      div.left-column {
        float: left;
        height: 100%;
        width: $left-column-rate;
        background-color: $red;

        @include mediaquery_w($bp_05 + px) {
          background-color: $dblue;
        }
        
      }
      div.right-column {
        float: left;
        height: 100%;
        width: $right-column-rate; 
        background-color: $dblue;

        @include mediaquery_w($bp_05 + px) {
          background-color: $red;
        }

      }
    }
  }

  footer {
    clear: both;
    background-color: #aaa;
  }
}
