@charset "utf-8";
/*************************************************************
【margin paddingの設定】
*************************************************************/
$value: 0;
@while $value <= 100 {
  .m#{$value} {margin: $value + px!important;}
  .mt#{$value} {margin-top: $value + px!important;}
  .mb#{$value} {margin-bottom: $value + px!important;}
  .ml#{$value} {margin-left: $value + px!important;}
  .mr#{$value} {margin-right: $value + px!important;}

  .p#{$value} {padding: $value + px!important;}
  .pt#{$value} {padding-top: $value + px!important;}
  .pb#{$value} {padding-bottom: $value + px!important;}
  .pl#{$value} {padding-left: $value + px!important;}
  .pr#{$value} {padding-right: $value + px!important;}
  $value: $value + 5;
}
