@charset "utf-8";
//レイアウトのパーツ

// サイトの共通ヘッダ
#static-pages-header{
  height: 83px;
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 9999;
  width: 80%;
  box-sizing: border-box;
  
  .logo {
    height: 83px;
    float: left;
    display: table;
    a {
      display: table-cell;
      vertical-align: middle;
      img {
        width: 386px;
        height: 83px; 
      }
    }
  }
  nav {
    float: right;
    ul {
      list-style-type: none;
      li {
        float: left;
        display: table;
        height: 60px;
        a {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          padding: 0 22px;
          color: #DDD;
        }
      }
      li:nth-last-child(1)::after {
        content: '';
        display: table;
        clear: both;        
      }
    }
  }
}

#static-pages-header::after {
  content: '';
  display: table;
  clear: both;
}